.custom-button {
    font-family: 'Open Sans Condensed', sans-serif;
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 2px;
    line-height: 50px;
    padding: 0 20px;
    font-size: 16px;
    background-color: #222222;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    cursor: pointer;
  
    &:hover {
      background-color: white;
      color: #222222;
      border: 2px solid #222222;
    }
}


/* Shared */
.loginBtn {
  font-family: 'Open Sans Condensed', sans-serif;
  width: auto;
  height: 50px;
  letter-spacing: 2px;
  line-height: 50px;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 20px;
  border: 2px solid  #cccccc;

  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 16px;
  font-weight: bolder;
  color: #2D2D2D;
  background-color: white;

  .s-icon {
    margin-right: 10px;
  }

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }

  &:hover {
    background-color: rgb(236, 236, 226);
  }
}


// .loginBtn:before {
//   content: "";
//   box-sizing: border-box;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 34px;
//   height: 100%;
// }
// .loginBtn:focus {
//   outline: none;
// }
// .loginBtn:active {
//   box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
// }


/* Facebook */
.loginBtn--facebook {
  // background-color: #4C69BA;
  // background-image: linear-gradient(#4C69BA, #3B55A0);
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  // background-color: #5B7BD5;
  // background-image: linear-gradient(#5B7BD5, #4864B1);
}


/* Google */
.loginBtn--google {
  // background: #DD4B39;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  // background: #E74B37;
}

/* Twitter */
.loginBtn--twitter {
  // background: #00ACEE;
}
.loginBtn--twitter:hover,
.loginBtn--twitter:focus {
  // background:  rgb(8, 181, 250);
}