.sign-in {
    display: flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: 1.5px;
    margin: 0 auto;

    .sign-in-form {
        width: 70%;
        margin: 0 auto;
    }

    .error-description {
        color: red; 
        font-weight: 700;
        text-align: left;
        margin: 10px 0px 0px 0px;
    }

    .social-login {
        display: block;
        margin-top: 5px;

        .hr-with-text {
            padding: 0;
            border: none;
            border-top: 2px solid #eee;
            text-align: center;
            margin: 30px auto 0 auto;

            &.qa-or {
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 1.2;
                text-transform: uppercase;
                letter-spacing: 2.3px;
            }
        }
    }
}