.product-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;

    .product-photo {
        margin:  25px;

        .product-image {
            height: 600px;
            width: auto;
        }
    }

    .product-description {
        margin:  25px;
        // width: 35%;
        .name {
            font-size: 24px;
            font-weight: normal;
            margin-bottom: 0;
        }

        .price {
            letter-spacing: 2px;
            font-size: 26px;
            font-weight: 700;
            color: rgb(104, 104, 103);
            margin-top: 0px;
        }

        .description {
            margin: 0;
        }

        .product-buttons {
            float: left;
            margin-top: 20px;
            width: 300px;
            
            .add-to-cart {
                width: calc(100% - 70px);
                height: 40px;
                margin-right: 10px;
                background-color: #00aa5b;
                border: none;
                color: white;
                font-weight: 700;
                font-family: 'Open Sans Condensed', sans-serif;
                letter-spacing: 1.5px;
                font-size: 14px;
                cursor: pointer;
                float: left;

                &:hover {
                    background-color: #04884a;
                }
            }

            .save-for-later {
                border-radius: 50%;
                height: 40px;
                width: 40px;
                //  color: transparent;
                color: #5a5959;
                border: none;
                background-color:#eee;
                padding: 10px 8px 8px;
                cursor: pointer;
                font-size: larger;
                outline: none; 
                display: block;
                float: right;

                .icon-heart:hover {
                  color:rgb(243, 69, 26);
                  transition: 0.1s;
                  font-weight: 900;
                }
              }
        }

        .size-section {

            .size-name {
                font-weight: 700;
                font-size: 12px;
                letter-spacing: 1px;
            }
        
        }
    }
}

@media screen and (max-width: 768px) {
    .product-card {
        display: block;

        .product-photo {
    
            .product-image {
                width: 100%;
                height: auto;
            }
        }
    }    

}

// @media screen and (max-width: 900px) {
//     .product-card {

//         .product-photo {
    
//             .product-image {
//                 height: 450px;
//                 width: auto;
//             }
//         }
//     }    
// }