.cart-icon {
    padding: 0px 18px 0 15px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 60px;     

    .item-count {
        position: absolute;;
        color: #2d2d2d;
        right: 53px;
        top: 1.3px;
        font-size: 10px;
        font-weight: 700;
    }
}

@media (max-width: 768px) {
    .cart-icon{
        .item-count {
            right: 23px;
            top: -2px;
        }
    } 
}