.cart-icon {
    padding: 12px 18px 0 15px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 60px;     

    .item-count {
        position: absolute;;
        color: #2d2d2d;
        right: 23px;
        top: 0.5px;
        font-size: 10px;
        font-weight: 700;
    }
}