.cart-icon {
    padding: 12px 18px 0 15px;
    cursor: pointer;
    color: white;
    font-size: 12px;
    letter-spacing: 1.5px;
    line-height: 60px;     

    .icon {
        font-size: 25px;
    }

    .item-count {
        position: absolute;;
        color: #2d2d2d;
        right: 25px;
        font-size: 12px;
        font-weight: 700;
    }
}