.sign-up {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;

    .sign-up-form {
        width: 70%;
        margin: 0 auto;
    }

    .error-description {
        color: red; 
        font-weight: 700;
        text-align: left;
        margin: 10px 0px 0px 0px;
    }
}