.header {
    height: 55px;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    background-color: #2d2d2d;
    color: #525050;
    padding: 0 30px 0 5px;
    align-items: center;
  
    .logo-container {
      height: 100%;
      border-right:1px solid #525050;     
      margin-left: 15px;
      
      .app-logo {
        height: 55px;
        padding-right: 3px;
      }
    }
  
  .header-navigation-items {
    width: 50%;
    height: 100%;

    ul {
      height: 100%;
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
      padding: 0;

      li {
        border-right:1px solid #525050;   

        .navigation-item {
          padding: 0 15px;
          height: 100%;
          cursor: pointer;
          color: white;
          font-size: 14px;
          letter-spacing: 4px;
          line-height: 55px;
          
        }
        
        &:active, &:focus, &:hover {
          background-color: #474747;
        }
      }
    }
  }

  .user-options {
    width: 40%;
    // height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .my-account-option, .saved-items-option, .cart-option {
      height: 100%;
      padding-left: 25px;
      // padding: 0 0 10px 25px;
    }
  }
}

// .is-active {
//   background-color: #474747;
// }

@media screen and (max-width: 768px) {
  .header {
    height: 49px;
    padding: 0 10px 0 15px;

    .logo-container {
      width: 40%;
      height: 100%;
      margin-left: 10px;
      border-right: none;
      
      .app-logo {
        height: 100%;
      }
    }

    .user-options {
      width: 38%;
      margin-left: 34px;
    }
  }

  .header-navigation-items {
    display: none;
  }
}

// meia query for iPad
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
    .header {
      .user-options {
        width: 50%;
      }
    }
}

// media query for Iphone5
@media only screen and (min-device-width: 320px) 
and (max-device-height: 568px) 
and (-webkit-device-pixel-ratio: 2) {
  .header {

    .logo-container {
      // margin-top: 9px;
      height: 100%;
      padding-top: 5px;
      .app-logo {
        
        height: auto;
        width: 120px;
      }
    }

    .user-options {
      width: 30%;
      margin-left: 45px;
    }
  }
 }
// @media (max-width: 1024px) {
//   .header {

//     .user-options {
//       width: 50%;
//     }
//   }
// }

@media (min-width: 769px) {
  .side-menu-button {
      display: none;
  }

  .logo-container{
     margin-left: 0;
  }
}