.bag-item {
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    opacity: 1;
    margin: 0 30px;
    flex-wrap: wrap;//liron
    flex: 1 100%;
    border-top: 0.7px solid #eee;

    .item-img-wrapper {
        width: 23%;
        margin-right: 20px;

        img {
            height: auto;
            width: 100%;
        }
    }

    .item-description-wrapper {
        width: 65%;

        p {
            margin: 0;
        }

        .price {
            margin: 0;
            font-weight: 700;
            font-size: 19px;
            letter-spacing: 1.5px;
            // color: #d01345;
            padding-bottom: 5px;
        }

        .name {
            font-size: 13px;
            letter-spacing: 0.5px;
        }

        .bag-item-variants {
            line-height: .8em;
            margin: 10px 0;
            width: 100%;
            height: 30px;
            
            .size-options, .quantity-options {
                margin-right: 20px;
                width: 50px;
                padding: .25em;
                border: 0;
                border-bottom: 2px solid #eee; 
                font-weight: bold;
                letter-spacing: .15em;
                border-radius: 0;

                &:focus, &:active {
                  outline: 0;
                  border-bottom-color: #0770cf;
                }

                .option {
                    font-size: 10px;
                    color: #2d2d2d;
                }
            }

            .quantity-holder {
                font-size: 11px;
                letter-spacing: 1px;
                margin-right: 7px;
            }
        }

        .save-for-later-btn {
            color: #2d2d2d;;
            background: transparent;
            border: 1px solid #eee;
            font-size: 11px;
            padding: 5px 10px;
            cursor: pointer;
            letter-spacing: 0.3px;

            .icon {
                margin-right: 5px; 
            }
        }
    }

    .bag-item-remove {
        width: 7%;

        .icon {
            cursor: pointer;
        }
    }

}

.deleted {
    //opacity: 0;
    animation-name: removed-item-animation;
    animation-duration: 2s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.item-edit-actions { 
    display: none;
    overflow: hidden;
    width: 100%;
    padding: 20px 0px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: end;
    border-top: .7px solid #eee;

    .update-item-btn, .cancel-update-btn {
        height: 30px;
        border: none;
        cursor: pointer;
        font-family: futura-pt-n7,futura-pt,"Futura PT","Futura Book",Tahoma,Geneva,Verdana,Arial,sans-serif;
        font-size: .7em;
        padding: 5px 15px;
        letter-spacing: 1.5px;
        line-height: 1.7em;
    }

    .update-item-btn {
        background-color: #2d2d2d;
        color: #ffffff;
        font-weight: 700;
        text-transform: uppercase;
    }

    .cancel-update-btn {
        cursor: pointer;
        font-size: .835em;
        letter-spacing: .4px;
        margin: 0 10px;
        text-decoration: underline;
        border: none;
        padding: 0;
        background: transparent;
    }
}


.edit-active {
    display: block;
}

.animated {
    width: 100%;
}

@keyframes removed-item-animation {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
 
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@media (min-width: 310px) and (max-width: 480px) {
    .bag-item  {
        margin: 0 18px;     
        .item-description-wrapper {
            width: 62%;
        }
    }

}