.option {
    padding: 12px 18px 0 15px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 60px;     

}

// a.option:hover + div{
//   display: block;
// }