.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 20px 70.08px;
}
  
.tab-list-active {
  background-color: white;
  border: solid #999;
  border-width: 1px 1px 0 1px;
}

@media screen and (max-width: 768px) {
  .tab-list-item {
    padding: 20px 20px;
  }
}

@media screen and (max-width: 500px) {
  .tab-list-item {
    // padding: 20px 30px;
  }
}