.my-account-page-container {
    max-width: 930px;
    margin: 0 auto;
    transition: opacity 2s;
    margin-bottom: 50px;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 45px 0;
        background-color: transparent;
        margin-bottom: 20px;

        .logo {
            cursor: pointer;
            
            .app-logo {
                width: 160px;
            }
        }

        .header-text {
            font-size: 25px;
            letter-spacing: 1.8px;
            color: #2d2d2d;
        }

        .norton-logo {
            width: 110px;
        }
    }

    .content {
        margin: 0 auto;
        display: flex;
        flex-direction: row;

        .user-options-container {
            // width: 35%;
            width: calc(100% * 4 / 12);

            .user-welcome-card {
                width: 100%;
                background-color: white;
                padding: 40px 0px 40px 0px;
                position: relative;
                display: flex;
                align-items: center;
                margin-bottom: 8px;

                .user-welcome-wrapper {
                    margin-left: 90px;

                    .hi {
                        font-size: 14px;
                        margin-bottom: 0;
                        letter-spacing: 1px;
                    }

                    .name {
                        letter-spacing: 1.5px;
                        font-weight: bold;
                        margin-top: 0;
                    }
                }

                .dot {
                    left: -12px;
                    height: 85px;
                    width: 85px;
                    background: #2d2d2d;
                    border-radius: 50%;
                    display: inline-block;
                    position: absolute;
                    text-align: center;
                    text-indent: 0.4rem;
                    vertical-align: middle;
                    color: white;
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                    font-size: 32px;
                    letter-spacing: 2px;

                    p {
                        padding-right: 5px;
                        margin: 0 auto;
                        text-transform: uppercase;
                    }
                    
                }
            }

            .user-side-menu {
                // padding-left: 10px;
                // padding-right: 10px;

                .main-nav {
                    display: block;

                    .main-list {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        background-color: #FFFFFF;

                        .main-list-item {
                            display: block;
                            color: #2d2d2d;
                            font-weight: 400;
                            font-size: 1rem;
                            letter-spacing: 1px;
                            line-height: 2rem;
                            padding: calc(3 * 4px) 0 calc(3 * 4px) 50px;
                            border-bottom: .5px solid rgb(187, 184, 184);
                            
                            &:hover {
                                text-decoration-line: underline;
                                text-decoration-style: solid;
                                text-decoration-color:#2d2d2d;
                                text-decoration-thickness: 1px;
                            }

                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }

        .selected-user-option {
            width: 65%;
            position: relative;
            margin-left: 15px;
        }
    }
}

.selectedLink {
    background-color: #f8f8f8;
    font-weight: bolder !important;
    border-left: 4px solid #0770cf;
}