.select-container {
    .options {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 15px;
        margin-top: 9px;
        margin-bottom: 20px;
        width: 80%;
        height: 38px;
        border: 0.5px solid rgb(146, 144, 144);
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 8px;
    }
}